{
    "presets": [
        ["@babel/preset-env", {
            "targets": [
                "last 2 version",
                "ie >= 8"
            ],
            "modules": false
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-external-helpers",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-optional-chaining"
    ]
}